body{
	background-color: #100c08;
	color: #f2f3f4;
	font-size: 20px;
	font-family: Lato, Arial, sans-serif;
	}

h1, h2 {color: #f2f3f4; text-align:center;}

a {color:#f2f3f4; text-decoration:underline; text-decoration-thickness: 0.05em;}

a:visited {color:#f2f3f4; }

a:hover {color: #f2f3f4; font-style:italic; }

a:focus {color: #f2f3f4; font-style:italic; }

a:active {text-decoration:underline;}

#top {border-bottom: 1px solid #f2f3f4; font-size:15px;}

#top #top-nav-main a {
    color: #f2f3f4;
    text-decoration: none;
}

#top #top-nav-main a:hover {
	color: #f2f3f4;
    font-style:italic;
}

#nav-toggle {
    margin-left: auto;
    color: #f2f3f4;
    text-decoration: none;
    padding: 2px 8px;
}

#hero { display: none;}

#hero p::before {display: none;}


#kube-large {
  max-width: 1100px;
  margin: auto;
  font-size: 50px;
  line-height: 1.1;
  margin-top: 104px;
  margin-bottom: 104px;
  border-top: none; }

#kube-faq {
  max-width: 1100px;
  margin: auto;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 104px;
  border-top: none; }

#footer {
    display: flex;
    border-top: 1px solid #f2f3f4;
    margin: 104px 0;
    padding: 0 28px;
    padding-top: 0px;
    padding-top: 24px;
    font-size: 15px;
    color: #f2f3f4;
}

#footer nav ul li a {
    color: #f2f3f4;
    text-decoration: underline;
}

#footer nav ul li a:hover {
	font-style:italic;
}

#posts h2 a{
    color: #f2f3f4;
}

#posts a {color:#f2f3f4; text-decoration:underline; text-decoration-thickness: 0.05em;}

#posts h2 a:visited {color:#f2f3f4; }

#posts h2 a:hover {color: #f2f3f4; font-style:italic; }

#posts h2 a:focus {color: #f2f3f4; font-style:italic; }

#posts h2 a:active {text-decoration:underline;}

.button.outline {
    background: 0 0;
    border-width: 2px;
    border-color: #f2f3f4;
    color: #f2f3f4;
}
