  <footer id="footer">
    <nav>
      <ul>
        <li>
          <a href="https://instagram.com/sarahkastrau">Instagram</a>
        </li>
          <li>
          <a href="https://sarahkastrau.limitedrun.com/">Shop</a>
        </li>
	<li>
          <a href="/linktree/">Linktree</a>
        </li>
      </ul>
    </nav>
    <p>&copy;2020 Sarah Kastrau</p>
  </footer>
