{{ define "main"}}

<div id="main">
  <div id="kube-large">
These are not the droids you are looking for. Please return to the <a href="/">Death Star</a>.
	</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
