body{
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: Lato, Arial, sans-serif;
	}

a {color:white; text-decoration:underline; text-decoration-thickness: 0.05em;}

a:visited {color:white; }

a:hover {color: white; font-style:italic; }

a:focus {color: white; font-style:italic; }

a:active {text-decoration:underline;}

#top {border-bottom: 1px solid white; font-size:15px;}

#top #top-nav-main a {
    color: white;
    text-decoration: none;
}

#top #top-nav-main a:hover {
	color: white;
    font-style:italic;
}

#nav-toggle {
    margin-left: auto;
    color: white;
    text-decoration: none;
    padding: 2px 8px;
}

#hero { display: none;}

#hero p::before {display: none;}


#kube-large {
  max-width: 1100px;
  margin: auto;
  font-size: 50px;
  line-height: 1.1;
  margin-top: 104px;
  margin-bottom: 104px;
  border-top: none; }

#kube-faq {
  max-width: 1100px;
  margin: auto;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 104px;
  border-top: none; }

#footer {
    display: flex;
    border-top: 1px solid white;
    margin: 104px 0;
    padding: 0 28px;
    padding-top: 0px;
    padding-top: 24px;
    font-size: 15px;
    color: white;
}

#footer nav ul li a {
    color: white;
    text-decoration: underline;
}

#footer nav ul li a:hover {
	font-style:italic;
}

#posts h2 a {
    color: #1eabf2;
    text-decoration: none;
}
