{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="kube-large">
 {{.Content}}
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
